[submodule "FliegeRun"]
	path = FliegeRun
	url = https://github.com/m4n1c22/FliegeRun.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "MIRACL"]
	path = MIRACL
	url = https://github.com/CertiVox/MIRACL.git
